@model IpWebApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<br</>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
   
   
    <div class="container text-center  border p-4 bg-white shadow top-border mt-2  " style="width:35%" >
        <h2>@ViewBag.Title</h2>
        <hr />
       
            <h3>Enter your email:</h3>
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div  class="text-center d-flex justify-content-center" >
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control text-center" })
            </div>

        
        <br/>
            <div class="form-group">
                <div>
                    <input type="submit" class="btn btn-register py-2 px-4 normal-font-style form-text-color" value="Email Link" style="background-color:#1d1fff" />
                </div>
            </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
