@model IpWebApp.Models.Record

@{ ViewBag.Title = "Details"; }


<link rel="stylesheet" href="~/Content/details-page.css" />
<link rel="stylesheet" href="~/Content/style.css" />
<link rel="stylesheet" href="~/Content/edit-create-pages.css" />


@Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.RecordId)

                                                <main class="container">
                                                    <style>
                                                        .nav-tabs li a.active {
                                                            color: #656565 !important;
                                                            border-color: transparent transparent #656565;
                                                        }

                                                        .nav-tabs li a {
                                                            padding-bottom: 35px;
                                                        }

                                                        .nav-tabs li {
                                                            width: 155px;
                                                        }
                                                    </style>
                                                    <div class="row">
                                                        <div class="back">
                                                            <a href="@Url.Action("Index", "Record", "Record")">< Records</a>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-5">
                                                        <h2 class="record-detail-heading">Record <span id="record-name"></span></h2>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="form-panel-details">


                                                            <form id="add-record-form">
                                                                <div class="row">
                                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label for="title" class="form-label-font-size normal-font-style">Title</label>
                                                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-field-font-size mt-2 pb-2 px-0" } })
                                                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                                        </div>


                                                                        <div class="form-group">
                                                                            <label for="registrationNumber" class="form-label-font-size normal-font-style">Registration Number</label>
                                                                            <input name="RegistrationNumber" type="text" class="form-control form-field-font-size mt-2 pb-2 px-0" id="registrationNumber" value="@Html.DisplayFor(model => model.RegistrationNumber)">
                                                                            @Html.ValidationMessageFor(model => model.RegistrationNumber, "", new { @class = "text-danger" })
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="clientld" class="form-label-font-size normal-font-style">Client</label>
                                                                            <input type="text" class="form-control form-field-font-size mt-2 pb-2 px-0" id="ClientName" value="@Html.DisplayFor(model => model.Client.Name)">
                                                                            <input name="Clientid" type="hidden" class="form-control" id="ClientId" value="@Html.DisplayFor(model => model.ClientId)" disabled>
                                                                            @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })


                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="territory" class="form-label-font-size normal-font-style">Territory</label>
                                                                            <input name="Country" type="text" class="form-control form-field-font-size mt-2 pb-2 px-0" id="Country" value="@Html.DisplayFor(model => model.Country)" disabled>

                                                                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })

                                                                        </div>


                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.ApplicationDate, htmlAttributes: new { @class = "clientName form-label-font-size normal-font-style" })
                                                                            <input disabled name="ApplicationDate" type="date" class="form-control w-100 form-field-font-size mt-2 pb-2 px-0" id="application-date" placeholder="dd/MM/yyyy" value="@Html.DisplayFor(model => model.ApplicationDate)">
                                                                            @Html.ValidationMessageFor(model => model.ApplicationDate, "", new { @class = "text-danger " })
                                                                        </div>


                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label for="registration-date" class="form-label-font-size normal-font-style">Registration Date</label>
                                                                            <input disabled name="RegistrationDate" type="date" class="form-control w-100 form-field-font-size mt-2 pb-2 px-0" id="registration-date" placeholder="dd/MM/yyyy" value="@Html.DisplayFor(model => model.RegistrationDate)">
                                                                            @Html.ValidationMessageFor(model => model.RegistrationDate, "", new { @class = "text-danger " })
                                                                        </div>
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.NextActionDate, htmlAttributes: new { @class = "clientName form-label-font-size normal-font-style" })
                                                                            <input disabled name="NextActionDate" type="date" class="form-control w-100 form-field-font-size mt-2 pb-2 px-0" id="next-action-date" placeholder="dd/MM/yyyy" value="@Html.DisplayFor(model => model.NextActionDate)">
                                                                            @Html.ValidationMessageFor(model => model.NextActionDate, "", new { @class = "text-danger " })

                                                                        </div>
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.RenewalDate, htmlAttributes: new { @class = "clientName form-label-font-size normal-font-style" })
                                                                            <input disabled name="RenewalDate" type="date" class="form-control w-100 form-field-font-size mt-2 pb-2 px-0" id="next-renew-date" placeholder="dd/MM/yyyy" value="@Html.DisplayFor(model => model.RenewalDate)">
                                                                            @Html.ValidationMessageFor(model => model.RenewalDate, "", new { @class = "text-danger " })

                                                                        </div>
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.ExpirationDate, htmlAttributes: new { @class = "clientName form-label-font-size normal-font-style" })
                                                                            <input disabled name="ExpirationDate" type="date" class="form-control w-100 form-field-font-size mt-2 pb-2 px-0" id="Expiration-date" placeholder="dd/MM/yyyy" value="@Html.DisplayFor(model => model.ExpirationDate)">
                                                                            @Html.ValidationMessageFor(model => model.ExpirationDate, "", new { @class = "text-danger " })

                                                                        </div>
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label form-label-font-size normal-font-style" })
                                                                            <div class="select-wrapper col">
                                                                                @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new { @class = "form-control p-0", @style = "margin-top:2px" })
                                                                            </div>
                                                                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                                                        </div>




                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label form-label-font-size normal-font-style" })
                                                                            <div class="select-wrapper col">
                                                                                @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control p-0", @style = "margin-top:2px" })
                                                                            </div>
                                                                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                                                        </div>



                                                                        <div class="form-group" style="margin-top:47px">
                                                                            <label id="PriorityID" data-show="@Model.Priority" for="priority" class="form-label-font-size normal-font-style">Priority </label>
                                                                            @Html.CheckBoxFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control" } })
                                                                            @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                                                                        </div>
                                                                        <div class="form-group" id="priorities">
                                                                            @{ Html.RenderPartial("_CreatePriority"); }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        <div class="form-group">
                                                                            <label for="title" class="form-label-font-size normal-font-style">Notes</label>
                                                                            <div>
                                                                                @Html.TextAreaFor(model => model.Notes, 4, 0, new { @class = "field-border w-100" })
                                                                                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label for="title" class="form-label-font-size normal-font-style">Files</label>
                                                                            <div class="row">

                                                                                <div class="col w-100" style="height:100px">
                                                                                    <div class="field-border w-100 h-100">
                                                                                        <input disabled type="file" id="image" name="image" accept="image/*" style="display: none;" />
                                                                                        <div class="">
                                                                                            @if (Model.Image != null)
                                                                                            {
                                                                                                if (Model.Image.Length > 0)
                                                                                                {
                                                                            <img id="blah" name="blah" src="/Record/RetrieveImage/@Model.RecordId" height=96 width="100%" /> }
                                                                                                else
                                                                                                {
                                                                            <img id="blah" src="#" style="display:none" height=96 width="100%" /> }
                                                                                            }
                                                                                            else
                                                                                            {
                                                                            <img id="blah" src="#" style="display:none" height=96 width="100%" />}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col w-100" style="height:104px">
                                                                                    <div class="d-flex field-border justify-content-center w-100 h-100">
                                                                                        <div style="top:34%;position:relative;">
                                                                                            <input type="image" src="~/Images/add.svg" style="height:32px; width:32px;border-bottom:none !important" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <script>
                                                                                    $("input[type='image']").click(function (event) {
                                                                                        event.preventDefault();
                                                                                        $("input[id='image']").click();
                                                                                        return false;
                                                                                    });
                                                                                </script>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                               
                                                            </form>



                                                        </div>
                                                    </div>

                                                    <div class="subtasks">
                                                        <div class="row mt-5">

                                                            <div>
                                                                <ul class="nav nav-tabs navbar-brand pb-0" style="display:inline-block">
                                                                    <li style="display:inline-block">
                                                                        <a href="#tab_1" data-toggle="tab" class="text-secondary divisional-tab page-heading-font-size active"> Divisionals </a>
                                                                    </li>
                                                                    <li style="display:inline-block">
                                                                        <a href="#tab_2" data-toggle="tab" class="text-secondary applicant-tab page-heading-font-size"> Applicants </a>
                                                                    </li>


                                                                </ul>
                                                                <div style="display:inline-block;float:right;margin-top:20px">
                                                                    @Html.ActionLink("Add New Record Divisionals", "CreateById", "Record", new { Id = Model.RecordId }, htmlAttributes: new { @id = "add-divisional-link", @style = "display:none" })

                                                                    @* <a href="" id="add-divisional-link" style="display:none">Add New Record Divisionals</a>*@
                                                                    <a href="" id="add-applicant-link" style="display:none">Add New Record Applicants</a>
                                                                </div>
                                                                <div class="tab-content">
                                                                    <div class="tab-pane  active form-tab-details " id="tab_1">
                                                                        <table class="table panel">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col">Title</th>
                                                                                    <th scope="col">Client Name</th>
                                                                                    <th scope="col">Record Type</th>
                                                                                    <th scope="col">Territory</th>
                                                                                    <th scope="col">Registration Num.</th>
                                                                                    <th scope="col">Application Date</th>
                                                                                    <th scope="col">Renewal Date</th>
                                                                                    <th scope="col">Next Action Date</th>
                                                                                    <th scope="col">Notes</th>
                                                                                    <th scope="col">Image</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                                @foreach (var item in Model.Divisionals)
                                                                                {
                                                                <tr>
                                                                    <td class="col">@Html.DisplayFor(modelItem => item.Name)</td>
                                                                    <td class="col">@Html.DisplayFor(modelItem => item.Client.Name)</td>
                                                                    <td class="col">@Html.DisplayFor(modelItem => item.Type)</td>
                                                                    <td class="col">@Html.DisplayFor(modelItem => item.Country)</td>
                                                                    <td class="col">@Html.DisplayFor(modelItem => item.RegistrationNumber)</td>
                                                                    <td class="col">@Html.DisplayFor(modelItem => item.ApplicationDate)</td>
                                                                    <td class="col">@Html.DisplayFor(modelItem => item.RenewalDate)</td>
                                                                    <td class="col">@Html.DisplayFor(modelItem => item.NextActionDate)</td>
                                                                    <td class="col">@Html.DisplayFor(modelItem => item.Notes)</td>

                                                                    <td>
                                                                        <a href="">
                                                                            <img src="./assets/right-arrow.svg" alt="">
                                                                        </a>
                                                                    </td>
                                                                </tr>}
                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                                    <div class="tab-pane fade  form-tab-details" id="tab_2">
                                                                        <table class="table panel">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col">
                                                                                        ApplicantName
                                                                                    </th>
                                                                                    <th scope="col">
                                                                                        Phone
                                                                                    </th>
                                                                                    <th scope="col">
                                                                                        Address
                                                                                    </th>
                                                                                    <th scope="col">
                                                                                        Formation
                                                                                    </th>
                                                                                    <th scope="col">
                                                                                        POA
                                                                                    </th>
                                                                                    <th></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                                @foreach (var item in Model.Applicants)
                                                                                {
                                                                <tr>
                                                                    <td class="col">
                                                                        @Html.ActionLink(item.ApplicantName, "Details", "Applicant", new { id = item.ApplicantId }, htmlAttributes: null)
                                                                    </td>
                                                                    <td class="col">
                                                                        @Html.DisplayFor(modelItem => item.Phone)
                                                                    </td>
                                                                    <td class="col">
                                                                        @Html.DisplayFor(modelItem => item.Address)
                                                                    </td>
                                                                    <td class="col">
                                                                        @Html.DisplayFor(modelItem => item.Formation)
                                                                    </td>
                                                                    <td class="col">
                                                                        @Html.DisplayFor(modelItem => item.POA)
                                                                    </td>
                                                                    <td class="col">
                                                                        @Html.ActionLink("Edit", "Edit", "Applicant", new { id = item.ApplicantId }, htmlAttributes: null) |
                                                                        @Html.ActionLink("Details", "Details", "Applicant", new { id = item.ApplicantId }, htmlAttributes: null) |
                                                                        @Html.ActionLink("Delete", "Delete", "Applicant", new { id = item.ApplicantId }, htmlAttributes: null)


                                                                    </td>
                                                                </tr>}
                                                                            </tbody>
                                                                        </table>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </main>

                                                                <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
                                                                                <script src="//code.jquery.com/jquery-1.10.2.js"></script>
                                                                                                <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


                                                                                                                <script type="text/javascript">
                                                                                                                    $(document).ready(function () {

                                                                                                                        if ($('.divisional-tab').hasClass('active')) {
                                                                                                                            showDivisionalLink();
                                                                                                                        }
                                                                                                                        else {
                                                                                                                            showApplicantLink();
                                                                                                                        }
                                                                                                                        $('.nav li a.divisional-tab').click(function (e) {
                                                                                                                            showDivisionalLink();

                                                                                                                        });
                                                                                                                        $('.nav li a.applicant-tab').click(function (e) {
                                                                                                                            showApplicantLink();

                                                                                                                        });
                                                                                                                    });
                                                                                                                    function showDivisionalLink() {
                                                                                                                        $('#add-divisional-link').css("display", "inline-block");
                                                                                                                        $('#add-applicant-link').css("display", "none");
                                                                                                                    }
                                                                                                                    function showApplicantLink() {
                                                                                                                        $('#add-applicant-link').css("display", "inline-block");
                                                                                                                        $('#add-divisional-link').css("display", "none");
                                                                                                                    }

                                                                                                                </script>
                                                                                                                                <script>

                                                                                                                                    function readURL(input) {
                                                                                                                                        if (input.files && input.files[0]) {
                                                                                                                                            var reader = new FileReader();

                                                                                                                                            reader.onload = function (e) {
                                                                                                                                                $('#blah').attr('src', e.target.result);
                                                                                                                                                $('#blah').attr('style', "normal");

                                                                                                                                            }

                                                                                                                                            reader.readAsDataURL(input.files[0]); // convert to base64 string
                                                                                                                                        }

                                                                                                                                    }

                                                                                                                                    $("#image").change(function () {
                                                                                                                                        readURL(this);
                                                                                                                                    });
                                                                                                                                </script>


                                                                                                                                                <script>
                                                                                                                                                    $(document).ready(function () {
                                                                                                                                                        $("#ApplicantName").autocomplete({
                                                                                                                                                            source: function (request, response) {
                                                                                                                                                                $.ajax({
                                                                                                                                                                    url: "/Record/GetApplicantsByPrefix",
                                                                                                                                                                    type: "POST",
                                                                                                                                                                    dataType: "json",
                                                                                                                                                                    data: { Prefix: request.term },
                                                                                                                                                                    success: function (data) {
                                                                                                                                                                        response($.map(data, function (item) {
                                                                                                                                                                            // $('#ApplicantId').val(item.value);
                                                                                                                                                                            //return item.label;
                                                                                                                                                                            return item;
                                                                                                                                                                        }))

                                                                                                                                                                    }
                                                                                                                                                                })
                                                                                                                                                            },
                                                                                                                                                            select: function (event, ui) {
                                                                                                                                                                event.preventDefault();
                                                                                                                                                                $('#ApplicantName').val(ui.item.label);
                                                                                                                                                                $('#ApplicantId').val(ui.item.value);

                                                                                                                                                            },
                                                                                                                                                            messages: {
                                                                                                                                                                noResults: "", results: ""
                                                                                                                                                            }
                                                                                                                                                        });


                                                                                                                                                    })
                                                                                                                                                </script>

                                                                                                                                                                <script type="text/javascript">
                                                                                                                                                                    $(document).ready(function () {
                                                                                                                                                                        $(function () {
                                                                                                                                                                            $("#ClientName").autocomplete({
                                                                                                                                                                                source: function (request, response) {
                                                                                                                                                                                    $.ajax
                                                                                                                                                                                        ({
                                                                                                                                                                                            url: '/Record/GetClientByPrefix/',
                                                                                                                                                                                            data: "{ 'prefix': '" + request.term + "'}",
                                                                                                                                                                                            dataType: "json",
                                                                                                                                                                                            type: "POST",
                                                                                                                                                                                            contentType: "application/json; charset=utf-8",
                                                                                                                                                                                            success: function (data) {
                                                                                                                                                                                                response($.map(data,
                                                                                                                                                                                                    function (item) {
                                                                                                                                                                                                        // $('#ClientId').val(item.value);
                                                                                                                                                                                                        return item;
                                                                                                                                                                                                    }))
                                                                                                                                                                                            },

                                                                                                                                                                                        })
                                                                                                                                                                                }, select: function (event, ui) {
                                                                                                                                                                                    event.preventDefault();
                                                                                                                                                                                    $('#ClientName').val(ui.item.label);
                                                                                                                                                                                    $('#ClientId').val(ui.item.value);
                                                                                                                                                                                }

                                                                                                                                                                                , minLength: 1
                                                                                                                                                                            }).autocomplete('instance')._renderItem = function (ul, item) {
                                                                                                                                                                                return $("<li>")
                                                                                                                                                                                    .append(item.label)
                                                                                                                                                                                    .appendTo(ul);
                                                                                                                                                                            }
                                                                                                                                                                        });
                                                                                                                                                                    })
                                                                                                                                                                </script>

                                                                                                                                                                                <script type="text/javascript">
                                                                                                                                                                                    $(document).ready(function () {
                                                                                                                                                                                        $("#Country").autocomplete({
                                                                                                                                                                                            source: function (request, response) {
                                                                                                                                                                                                $.ajax({
                                                                                                                                                                                                    url: "/Record/GetCountriesByPrefix",
                                                                                                                                                                                                    type: "POST",
                                                                                                                                                                                                    dataType: "json",
                                                                                                                                                                                                    data: { Prefix: request.term },
                                                                                                                                                                                                    success: function (data) {
                                                                                                                                                                                                        response($.map(data, function (item) {
                                                                                                                                                                                                            return { label: item.CountryName, value: item.CountryName };
                                                                                                                                                                                                        }))

                                                                                                                                                                                                    }
                                                                                                                                                                                                })
                                                                                                                                                                                            },
                                                                                                                                                                                            messages: {
                                                                                                                                                                                                noResults: "", results: ""
                                                                                                                                                                                            }
                                                                                                                                                                                        });

                                                                                                                                                                                        $("#PriorityCountry").autocomplete({
                                                                                                                                                                                            source: function (request, response) {
                                                                                                                                                                                                $.ajax({
                                                                                                                                                                                                    url: "/Record/GetCountriesByPrefix",
                                                                                                                                                                                                    type: "POST",
                                                                                                                                                                                                    dataType: "json",
                                                                                                                                                                                                    data: { Prefix: request.term },
                                                                                                                                                                                                    success: function (data) {
                                                                                                                                                                                                        response($.map(data, function (item) {
                                                                                                                                                                                                            return { label: item.CountryName, value: item.CountryName };
                                                                                                                                                                                                        }))

                                                                                                                                                                                                    }
                                                                                                                                                                                                })
                                                                                                                                                                                            },
                                                                                                                                                                                            messages: {
                                                                                                                                                                                                noResults: "", results: ""
                                                                                                                                                                                            }
                                                                                                                                                                                        });
                                                                                                                                                                                    })
                                                                                                                                                                                </script>

                                                                                                                                                                                                <script type="text/javascript">
                                                                                                                                                                                                    window.onload = function () {
                                                                                                                                                                                                        let priorityValue = $('#PriorityID').attr('data-show');
                                                                                                                                                                                                        console.log("The priorityValue is: ", priorityValue);
                                                                                                                                                                                                        if (priorityValue === 'True') {

                                                                                                                                                                                                            document.getElementById("priorities").style.display = "inherit";

                                                                                                                                                                                                        }
                                                                                                                                                                                                        else {
                                                                                                                                                                                                            document.getElementById("priorities").style.display = "none";// this MUST be - .style.display = "none";
                                                                                                                                                                                                            // AND NOT - .style.visibility = "hidden";
                                                                                                                                                                                                            // because if not, the jQuery function .toggle(); won't work
                                                                                                                                                                                                        }
                                                                                                                                                                                                    }
                                                                                                                                                                                                </script>

                                                                                                                                                                                                                <script type="text/javascript">
                                                                                                                                                                                                                    // toggle visiobility of Priority fields
                                                                                                                                                                                                                    $(document).ready(function () {
                                                                                                                                                                                                                        $('#Priority').change(function () {
                                                                                                                                                                                                                            $('#priorities').toggle();
                                                                                                                                                                                                                        });

                                                                                                                                                                                                                    });
                                                                                                                                                                                                                </script>

