@model IEnumerable<IpWebApp.Models.Location>

@{ ViewBag.Title = "Index"; }
<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="~/Content/listing-page.css">
<h2>Location List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriorityCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Client.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PriorityCountry)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Latitude)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Longitude)
    </td>

    <td class="table-row-menu icons">
        @{ if (User.IsInRole("Admin") || item.creatorId.Equals(User.Identity.Name))
            {
             <a href="@Url.Action("Edit", "Locations", new { id = item.LocationId })">
             <img src="~/Images/edit.svg" alt="edit">
             </a>
             <a href="@Url.Action("Delete", "Locations", new { id = item.LocationId })">
             <img src="~/Images/delete.svg" alt="delete">
             </a> }
            else
            {
             <a href="@Url.Action("Details", "Locations", new { id = item.LocationId })">
             <img src="~/Images/edit.svg" alt="edit">
             </a> } 
            }

    </td>


</tr>}

</table>
