@model IpWebApp.Models.TamplateTask

@{
    ViewBag.Title = "Delete";
}


<link rel="stylesheet" href="~/Content/details-page.css">
<link rel="stylesheet" href="~/Content/edit-create-pages.css">

<main class="container">
    <div class="row">
        <div class="back">
            <a href="@Url.Action("Index", "TamplateTasks", "TamplateTasks")">< TamplateTasks</a>
        </div>
    </div>
    <div class="row mt-5">
        <h2>Are you sure you want to delete this?</h2>
    </div>
    <div class="row justify-content-center">
        <div class="form-panel-details">
           
                @Html.AntiForgeryToken()

                <div class="row edit-task-form">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.TamplateTaskId)
                    <div class="col">
                        <div class="form-group">
                            <label for="Title" class="form-label-font-size normal-font-style">Title</label>
                            <input name="Title" disabled type="text" class="form-control form-field-font-size mt-2 pb-2 px-0" id="title" value="@Html.DisplayFor(model => model.Title)">
                        </div>
                        <div class="form-group">

                            <label for="Pricing" class="form-label-font-size normal-font-style">Pricing</label>
                            <input name="Pricing" disabled type="text" class="form-control form-field-font-size mt-2 pb-2 px-0" id="Pricing" value="@Html.DisplayFor(model => model.Pricing)">
                        </div>

                        <div class="form-group">

                            <label for="dateType" class="form-label-font-size normal-font-style">Date Type</label>
                            <input name="dateType" disabled type="text" class="form-control form-field-font-size mt-2 pb-2 px-0" id="dateType" value="@Html.DisplayFor(model => model.dateType)">
                        </div>



                    </div>
                    <div class="col">

                        <div class="form-group">
                            <label for="AddDays" class="form-label-font-size normal-font-style">Days Added</label>
                            <input name="AddDays" disabled type="number" class="form-control form-field-font-size mt-2 pb-2 px-0" id="AddDays" value="@Html.DisplayFor(model => model.AddDays)">
                        </div>
                        <div class="form-group">
                            <label for="AddMonths" class="form-label-font-size normal-font-style">Months Added</label>
                            <input name="AddMonths" disabled type="number" class="form-control form-field-font-size mt-2 pb-2 px-0" id="AddMonths" value="@Html.DisplayFor(model => model.AddMonths)">
                        </div>
                        <div class="form-group">
                            <label for="AddYears" class="form-label-font-size normal-font-style">Years Added</label>
                            <input name="AddYears" disabled type="number" class="form-control form-field-font-size mt-2 pb-2 px-0" id="AddYears" value="@Html.DisplayFor(model => model.AddYears)">
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="Description" class="form-label-font-size normal-font-style">Description</label>
                            <textarea name="Description" disabled class="description field-border w-100" id="Description" style="height:175px">@Html.DisplayFor(model => model.Description)</textarea>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-submit d-flex   col-md-offset-2 col-md-10">
                                <input type="submit" value="Delete" class="btn-submit" />
                            </div>
                        }
                        </div>

                </div>
         
        </div>
    </div>
</main>
